@font-face {
    font-family: "BebasNeueBold";
  
    src: url("../fonts/ofontruBebasNeue.woff") format("woff"),
      url("../fonts/ofontruBebasNeue.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
  }